.Homebanner {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1548863070-75fbb819c668?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80");
  position: relative;
  color: white;
  margin-bottom: 12rem;
}

.Homebanner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

.Homebanner > * {
  z-index: 1;
  position: relative;
}

header {
  margin: auto;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */

  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-container {
  /* background-color: rgba(0, 0, 0, 0.705); */
  margin: auto;
  display: flex;
  align-items: center;
  width: 80%;
  padding: 15px 0;
  justify-content: space-between;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}

.logo-container .logo {
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}

.logo-container .logo:hover {
  color: #10b098;
  cursor: pointer;
  transform: scale(1.3);
}

.logo h1 {
  font-size: 24pt;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.info p {
  margin-left: 10px;
}

nav {
  margin: auto;
  color: white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-menu {
  display: flex;
}

.logo {
  letter-spacing: 2px;
}

.nav-menu p {
  font-weight: 500;
  margin-left: 3rem;
  cursor: pointer;
}

.nav-menu p:hover {
  color: #10b098;
  transition: 0.3s ease-in-out;
}

.banner-text {
  max-width: 600px;
  margin-left: 10%;
  margin-top: 5rem;
}

.banner-text h1 {
  margin-bottom: 2.3rem;
}

.banner-text p {
  margin-bottom: 2rem;
}

.read-button {
  padding: 12px 22px;
  border: none;
  background-color: #10b098;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-family: inherit;
  margin-right: 1rem;
  cursor: pointer;
}

.read-button:hover {
  transition: 0.2s ease-in-out;
  background-color: #06917c;
}

.contact-button {
  padding: 12px 22px;
  border: none;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
}

.contact-button:hover {
  background: none;
  border: 1px solid #06917c;
  color: white;
  transition: 0.2s ease-in-out;
}

.banner-info {
  display: flex;
}

.banner-img img {
  margin-top: 20rem;
  margin-left: 5rem;
}

.min-logo {
  display: none;
}

.burger-menu {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.burger-links {
  margin-bottom: 0rem;
}

.burger-links p {
  cursor: pointer;
  outline: none;
  margin: 25px 0;
  font-size: 20px;
  width: 200px;
  padding: 10px 0;
  border-radius: 3px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.burger-links p:hover {
  transition: 0.3s ease-in-out;
  color: #06917c;
}

.burger-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burger-logo {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.logo-burger {
  margin-right: 10px;
}

.info-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.info-burger p {
  margin-left: 10px;
}

@media only screen and (max-width: 1100px) {
  .banner-img {
    display: none;
  }
  .nav-menu p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .Homebanner {
    margin-bottom: 0;
  }

  .logo-container {
    display: none;
  }
  .header-info {
    display: none;
  }
  .min-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .min-burger {
    font-size: 1.7rem;
    cursor: pointer;
  }

  .min-burger:hover {
    color: #10b098;
    outline: none;
  }

  .min-logo-container h1 {
    font-size: 20px;
    letter-spacing: 1px;
  }

  nav {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .burger-menu {
    display: none;
  }
}
